{% load crispy_forms_tags %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TodoModal" >Add</button>

<button style='display: none;'type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TodoModalUpdate" ></button>

<div class="modal fade " id="TodoModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
        <button type="button" class="btn-close close-update" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body form-container">

             
         </div>
      
    </div>
  </div>
</div>



<div class="modal fade" id="DatePicker" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Date</h1>
        
        <button type="button" class="btn-close close-date" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body form-container">
        <input type="date" name="filterDate" id='filterDate'>
             
         </div>
    </div>
  </div>
</div>



<div class="modal fade" id="TodoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method='POST' id='todo-form' name='todoform'>
         {{form|crispy}}
         <input type="date" name="date">
         <div>
         <button class="btn btn-success form-control my-3" name='button'>add</button>
             
         </div>
      </form>
    </div>
  </div>
</div>


