

{%extends 'base.html'%}
{%load static%}
{%block title%}
{%endblock%}

{%block body%}

<!--For Page-->
<div class="container m-5 p-2 rounded mx-auto bg-light shadow" >

    <!-- App title section -->
    <div class="row m-1 p-4">
        <div class="col">
            <div style="float:left;" role='button'>
                    

                <img 
                src="
                {%if user.userinfo.profile_image%}
                {{user.userinfo.profile_image.url}}
                {%else%}
                {%static 'img/profile_image/blank-profile.png'%}
                {%endif%}
                " 
                class="rounded-circle shadow-4 avatar"
                  style="width: 50px;" alt="Avatar" />   

                    
                    <div class="profile-drop">
                      <a href="{%url 'profile'%}" class="prfile-btn">profile</a>
                      <a href="{%url 'logout'%}" class="prfile-btn">logout</a>
                    </div>

    
     
              </div>
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block header" >




            </div>
        </div>
        {%block content%}
		{%endblock%}
    </div>


</div>
{%endblock%}