{%extends 'todo/base_todo.html'%}


{%block content%}
    <div class="row m-1 p-3">
      <!-- Create todo section -->
      {%include 'partials/_add_form.html'%}

    </div>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>
    
    <!-- View options section -->
    <!-- Todo list section -->

      
      <div class="card-hover-shadow-2x mb-3 card">

        <div class="scroll-area-sm">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">

                 <p class="text-center my-3 "><a  class='previousDate mx-3'href=""><i class="fa-solid fa-arrow-left"></i></a> <i class="fa-regular fa-calendar-check text-primary " data-bs-toggle="modal" data-bs-target="#DatePicker" role="button"></i> <span class="currentDate" currentDate='{{day|date:"Y-m-d"}}'>Today</span> <a  class='nextDate mx-3'href=""><i class="fa-solid fa-arrow-right"></i></a>
                  


                  </p>




                  <!-- todo list template -->
                  <div class='todo-div' style="display:none">
                      <li class="list-group-item todo-list" role="button"  >
                        <div class="todo-indicator bg-warning"></div>
                        <div class="widget-content p-0">
                          <div class="widget-content-wrapper">
                          <i class="fa-regular fa-circle-check text-success ds-check"></i>
                            <div class="widget-content-left ms-2">
                              <div class="widget-heading todo-text">
                                
                              </div>
                              
                            </div>

                          </div>
                        </div>
                      </li>
            

                  
                      <div class="card card-body collapse" >
                            <div class="widget-content-right">
                              <button class="border-0 btn-transition btn btn-outline-success" data-type='status' data=''>
                        <i class="fa fa-check"></i></button>
                               <button class="border-0 btn-transition btn btn-outline-secondary" data-type='update' data=''>
                                <i class="fa-regular fa-pen-to-square"></i></button>
                                <button class="border-0 btn-transition btn btn-outline-danger btn-remove" data-type='remove' data=''>
                               <i class="fa fa-trash"></i>
                               
                              </button>
                            </div>
                      </div>
                  </div>
                  <!--end todo list template -->


                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">todo</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">completed</button>


                    </div>

                  </nav>

                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                      
                      <ul class=" list-group list-group-flush todo-ul">
                          {%for todo in todos %}
                          
                              <div id='div-{{todo.id}}'class='todo-div'>
                                  <li class="list-group-item todo-list" role="button"  >
                                    <div class="todo-indicator bg-warning"></div>
                                    <div class="widget-content p-0">
                                      <div class="widget-content-wrapper">
                                   <i class="fa-regular fa-circle-check text-success ds-check"></i>
                                        <div class="widget-content-left ms-2">
                                          <div class="widget-heading todo-text">{{todo.text}} 
                                          </div>
                                          
                                        </div>

                                      </div>
                                    </div>
                                  </li>
                        

                              
                                <div class="card card-body collapse" >
                                      <div class="widget-content-right">
                                        <button class="border-0 btn-transition btn btn-outline-success" data-type='status' data='{{todo.id}}' datato='check'>
                                  <i class="fa fa-check"></i></button>
                                         <button class="border-0 btn-transition btn btn-outline-secondary" data-type='update' data='{{todo.id}}' >
                                          <i class="fa-regular fa-pen-to-square"></i></button>
                                          <button class="border-0 btn-transition btn btn-outline-danger btn-remove" data-type='remove' data='{{todo.id}}'>
                                         <i class="fa fa-trash"></i>
                                         
                                        </button>
                                      </div>
                                </div>
                              
                              </div>
                          {%endfor%}

                      </ul>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                      <ul class=" list-group list-group-flush finished-ul">
                          {%for todo in finished %}
                                    
                                        <div id='div-{{todo.id}}'class='todo-div'>
                                            <li class="list-group-item  todo-list"  role="button"  >
                                              <div class="todo-indicator bg-warning"></div>
                                              <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">

                                                    <i class="fa-regular fa-circle-check text-success"></i>
                                                  <div class="widget-content-left ms-2">
                                                    <div class="widget-heading todo-text">
                                                      {{todo.text}} 


                                                </div>
                                              </div>
                                            </li>
                                     

                                        
                                          <div class="card card-body collapse" >
                                              <div class="widget-content-right">
                                                <button class="border-0 btn-transition btn btn-outline-success" data-type='status' datato='uncheck' data='{{todo.id}}'>
                                                <i class="fa-solid fa-rotate-left"></i></button>
                                                 <button class="border-0 btn-transition btn btn-outline-secondary" data-type='update' data='{{todo.id}}'>
                                                  <i class="fa-regular fa-pen-to-square"></i></button>
                                                  <button class="border-0 btn-transition btn btn-outline-danger btn-remove" data-type='remove' data='{{todo.id}}'>
                                                 <i class="fa fa-trash"></i>
                                                 
                                                </button>
                                              </div>
                                </div>
                                        
                                        </div>

                          {%endfor%}
                      </ul>
                    </div>

                  </div>
              </div>
            </div>
          </perfect-scrollbar>
        </div>



{%endblock%}
