{%extends 'base.html'%}
{%block title%}SM ToDo{%endblock%}
{%block body%}
<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->

    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Todo List <br />
            <span class="text-primary">Website</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            this is site Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            
        
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
        	
          <div class="text-center">
			  <a  class="btn btn-primary mx-1" href="{%url 'register'%}" >Sign Up</a>
			  <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
			</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->



<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method='POST' action="{%url 'login'%}" class="login">
        {%csrf_token%}
        <div class="modal-body mx-3">
          <div class="mb-3">
            <label for="loginEmail" class="form-label">UserName</label>
            <input type="text" class="form-control" id="loginEmail" name='username'>
          </div>

          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" name='password'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Log In</button>
          <a href="{%url 'password_reset'%}" class="btn btn-secondary">forgot password?</a>
        </div>
      </form>
    </div>
  </div>



{%endblock%}